name: Local Assistant
version: 1.0.0
schema: v1
models:
- name: Qwen Coder2
  provider: ollama
  model: qwen2.5-coder:7b
  roles:
    - chat
    - autocomplete
    - edit

context:
  - provider: code
  - provider: docs
  - provider: diff
  - provider: terminal
  - provider: problems
  - provider: folder
  - provider: codebase
